<h2>New Place</h2>

<% if @current_user %>
  <%= form_with model: @place do |form| %>
    <div class="mb-3">
      <%= form.label "name", class: "form-label" %>
      <%= form.text_field "name", class: "form-control" %>
    </div>

    <%= form.submit "Create New Place", class: "btn btn-primary" %>
  <% end %>
<% else %>
  You must first <a href="/sessions/new">login</a> to add a new place.
<% end %>



